
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 700px;
            margin: 30px 370px;
            padding: 20px;
            background-color: #fff;
            backdrop-filter: blur(5px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 130px;
        }

        input[type="text"]#isbn,input[type="text"]#nom, input[type="text"]#auteur {
    width: 98%; /* Vous pouvez ajuster la largeur selon vos préférences */
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            font-weight: bold;
            margin-bottom: 8px;
        }

        input[type="file"],
        input[type="text"] {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            padding: 12px 20px;
            background-color: #ff7200;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #ff7200;
        
        }

        .main{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            background-image: url(../image/im1.jpg);
            background-size: cover;
            background-position: center;
        }
        
        nav{
            width: 100%;
            height: 16%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            box-shadow: 0 0 10px #ff7200;
            background: #fff;
            position: fixed;
            left: 0;
            /* z-index: 100; */
        }
        
        nav .logo img{
            width: 100px;
            cursor: pointer;
            margin: 8px 0;
        }
        
         nav ul{
            list-style: none;
        }
        
         nav li{
            display: inline-block;
            padding: 0 10px;
        }
        
         nav li a{
            text-decoration: none;
            color: #000;
        }
        
         nav li a:hover{
            color: #ff7200;
        }
        
         nav .social_icon i{
            margin: 0 5px;
            font-size: 18px;
        }
        
         nav .social_icon i:hover{
            color:#ff7200;
            cursor: pointer;
        }
    